/* Tags */
ul.tags { display: none; clear: both; display: block; margin: 5px 0 0 135px; padding: 0; list-style: none; }	
ul.tags.textarea { margin: 5px 0 0 0; }
ul.tags li, ul.tags li a { display: inline-block; height: 24px; line-height: 24px; font-size: 11px; }
ul.tags li a { 
	margin: 0 10px 0 0; padding: 0 10px; 
	background:#0089e0; color:#fff; text-decoration:none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}			
ul.tags li a:hover{ background: #555; }

/* No Items in WP_List_Table */
tr.no-items td { text-align: center; }